<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Zaid Neurothrone">
    <title>AIDA</title>
    <!-- Bootstrap core CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="{% static 'bootstrap/webfonts/bootstrap-icons.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/aida.css' %}">
</head>
<body>

<!-- HEADER -->
{% include "aida/header.html" %}

<!-- MESSAGES -->
{% include "messages.html" %}

<div class="container-fluid">
    <div class="row">
        {% include "aida/sidebar.html" %}
        <!-- CONTENT -->
        <main>
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block content %}{% endblock %}
                {% include "aida/pagination.html" %}
                {% include "aida/testing.html" %}
            </div>
        </main>
    </div>
</div>

<!-- FOOTER -->
{% include "aida/footer.html" %}

<!-- Bootstrap core JS -->
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% block scripts %}{% endblock %}
<script src="{% static 'js/tooltips.js' %}"></script>

</body>
</html>
