{% extends "base.html" %}

{% block content %}
    <h1>{{ text }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label for={{ field.id_for_label }}"">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button class="btn btn-success" type="submit">{{ text }}</button>
    </form>
{% endblock %}
{##}
{#<form action="" method="post">#}
{#    {{ crsf_token }}#}
{##}
{#    <label for="training_type"></label>#}
{#    <select class="form-select mb-3" name="training_type" id="training_type">#}
{#        <option value="weight_training" selected>Weight Training</option>#}
{#        <option value="interval_training" disabled>Interval Training</option>#}
{#    </select>#}
{##}
{#    <div class="form-floating mb-3">#}
{#        <input class="form-control" type="text" id="floatingInput" name="name" placeholder="">#}
{#        <label for="floatingInput">Name</label>#}
{#    </div>#}
{##}
{#    <div class="form-floating mb-3">#}
{#        <input class="form-control" type="text" id="floatingInput" name="vest_weight" placeholder="">#}
{#        <label for="floatingInput">Vest Weight</label>#}
{#    </div>#}
{##}
{#    <hr>#}
{##}
{#    <div class="form-check mb-3">#}
{#        <label for="is_cardio"></label>#}
{#        <input class="form-check-input" type="checkbox" id="is_cardio">#}
{#        Is Cardio#}
{#    </div>#}
{##}
{#    <button class="btn btn-success" type="submit">Add</button>#}
{#</form>#}