{% extends "aida/base.html" %}
{% load static %}

{% block content %}
    <!--DASHBOARD-->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom text-light">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    <!-- CANVAS -->
    <canvas class="my-4 w-100 bg-light rounded" id="sleepGraph" width="900" height="380"></canvas>


    <h1 class="text-light my-3">Sleep data</h1>
    {% if sleeps %}
        <div class="table-responsive">
            <table class="table table-dark table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Slept at</th>
                    <th scope="col">Awoke at</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sleep in sleeps %}
                    <tr class="align-middle">
                        <td>{{ sleep.id }}</td>
                        <td>{{ sleep.slept_at_table_format }}</td>
                        <td>{{ sleep.awoke_at_table_format }}</td>
                        <td>{{ sleep.duration_formatted }}</td>
                        <td>
                            <a class="btn btn-outline-info"
                               href="{{ sleep.get_absolute_url }}"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="View">
                                <i class="bi bi-eye"></i></a>
                            <a class="btn btn-outline-warning"
                               href="{{ sleep.get_update_url }}"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Edit">
                                <i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-outline-danger"
                               href="{{ sleep.get_delete_url }}"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Delete">
                                <i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-light">No Sleep data available.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    <!-- Chart.js core JS --->
    <script src="{% static 'libs/chart.js/dist/chart.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/sleep.js' %}" type="module"></script>
{% endblock %}