{% extends "base.html" %}

{% block content %}
    <h1>List Workouts</h1>
    {% if workouts %}
        <table>
            <thead>
            <tr>
                <th>Type</th>
                <th>Trained</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for workout in workouts %}
                <tr>
                    <td>{{ workout.type|title }}</td>
                    <td>{{ workout.trained }}</td>
                    <td>
                        <a href="{% url 'aida:workout-detail' pk=workout.id %}">View</a>
                        <a href="{% url 'aida:workout-update' pk=workout.id %}">Edit</a>
                        <a href="{% url 'aida:workout-delete' pk=workout.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}