{% extends "base.html" %}

{% block content %}
    <h1>List Workouts</h1>
    {% if workouts %}
        <table class="table table-dark table-striped">
            {#<caption>List of workouts</caption>#}
            <thead>
            <tr>
                <th>Type</th>
                <th>Trained</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for workout in workouts %}
                <tr>
                    <td>{{ workout.type|title }}</td>
                    <td>{{ workout.trained }}</td>
                    <td>
                        <a class="btn btn-outline-info"
                           href="{% url 'aida:workout-detail' pk=workout.id %}">
                            <i class="bi bi-eye"></i>&nbsp;View</a>
                        <a class="btn btn-outline-warning"
                           href="{% url 'aida:workout-update' pk=workout.id %}">
                            <i class="bi bi-pencil-square"></i>&nbsp;Edit</a>
                        <a class="btn btn-outline-danger"
                           href="{% url 'aida:workout-delete' pk=workout.id %}">
                            <i class="bi bi-trash"></i>&nbsp;Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}