{% extends "aida/base.html" %}

{% block content %}
    <h1 class="text-light my-3">Blood pressure Detail</h1>
    <div class="text-light">
        <p><span class="text-primary">ID:</span> {{ bp.id }}</p>
        <p><span class="text-primary">Measured at:</span> {{ bp.measured_at }}</p>
        <p><span class="text-primary">Systolic:</span> {{ bp.systolic }}</p>
        <p><span class="text-primary">Diastolic:</span> {{ bp.diastolic }}</p>
        <p><span class="text-primary">Representation Systolic / Diastolic:</span>
            &nbsp;{{ bp.systolic }} / {{ bp.diastolic }}
        </p>
        <p><span class="text-primary">Status:</span> 'STATUS'</p>
    </div>

    <a class="btn btn-outline-secondary" href="{{ request.META.HTTP_REFERER }}">Back</a>
{% endblock %}