{% extends "aida/base.html" %}
{% load static %}

{% block title %}AIDA | Heart{% endblock %}
{% block content %}
    <!--DASHBOARD-->
    {% url 'aida:heart-to-csv' as csv_url %}
    {% url 'aida:heart-to-json' as json_url %}
    {% include "aida/_dashboard.html" with csv_url=csv_url json_url=json_url %}

    <!-- CANVAS -->
    {% if hearts %}
        <canvas class="my-4 w-100 bg-light rounded" id="heartGraph" width="900" height="380"></canvas>
    {% else %}
        <p class="text-light">No heart data available.</p>
    {% endif %}

    {% if hearts %}
        <h1 class="h2 text-light my-3">Heart data</h1>
        <div class="table-responsive">
            <table class="table table-dark table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Measured at</th>
                    <th scope="col">Systolic / Diastolic</th>
                    <th scope="col">Pulse</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for heart in hearts %}
                    <tr class="align-middle">
                        <td>{{ heart.id }}</td>
                        <td>{{ heart.measured_at_table_format }}</td>
                        <td>{{ heart.systolic }} / {{ heart.diastolic }}</td>
                        <td>{{ heart.pulse }}</td>
                        <td>STATUS</td>
                        <td>
                            <a class="btn btn-outline-info"
                               href="{{ heart.get_absolute_url }}">
                                <i class="bi bi-eye"></i></a>
                            <a class="btn btn-outline-warning"
                               href="{{ heart.get_update_url }}">
                                <i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-outline-danger"
                               href="{{ heart.get_delete_url }}">
                                <i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <!-- Chart.js core JS --->
    <script src="{% static 'libs/chart.js/dist/chart.js' %}"></script>
    <!-- Custom JS -->
    {% if hearts %}
        <script src="{% static 'js/heart.js' %}" type="module"></script>
    {% endif %}
{% endblock %}