{% extends "aida/base.html" %}

{% block content %}
    <h1 class="text-light my-3">List of Heart metrics</h1>
    {% if hearts %}
        <div class="table-responsive">
            <table class="table table-dark table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Measured at</th>
                    <th scope="col">Systolic / Diastolic</th>
                    <th scope="col">Pulse (Beats per minute)</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for heart in hearts %}
                    <tr class="align-middle">
                        <td>{{ heart.id }}</td>
                        <td>{{ heart.measured_at }}</td>
                        <td>{{ heart.systolic }} / {{ heart.diastolic }}</td>
                        <td>{{ heart.pulse }}</td>
                        <td>STATUS</td>
                        <td>
                            <a class="btn btn-outline-info"
                               href="{{ heart.get_absolute_url }}">
                                <i class="bi bi-eye"></i></a>
                            <a class="btn btn-outline-warning"
                               href="{{ heart.get_update_url }}">
                                <i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-outline-danger"
                               href="{{ heart.get_delete_url }}">
                                <i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-light">No heart data available.</p>
    {% endif %}
{% endblock %}