{% extends "aida/base.html" %}

{% block content %}
    <h1 class="text-light my-3">Detail Exercise</h1>
    <div class="text-light">
        <p><span class="text-primary">ID:</span> {{ exercise.id }}</p>
        <p><span class="text-primary">Type:</span> {{ exercise.get_type_display }}</p>
        <p><span class="text-primary">Name:</span> {{ exercise.name }}</p>
        <p><span class="text-primary">Vest Weight:</span> {{ exercise.vest_weight }} kg</p>
    </div>
    <hr class="text-light">
    <a class="btn btn-outline-secondary" href="{{ exercise.workout.get_absolute_url }}">Workout</a>

    {% if exercise.type == "cardio" %}
        {% for set in exercise.cardioset_set.all %}
            <p>Speed: {{ set.speed }}</p>
            <p>Duration: {{ set.duration }} {{ set.time_unit }}</p>
            <hr>
        {% endfor %}
    {% elif exercise.type == "weight" %}
        {% for set in exercise.weightset_set.all %}
            <p>Reps: {{ set.reps }}</p>
            <p>Weight: {{ set.weight }} {{ set.weight_unit }}</p>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}