{% extends "aida/base.html" %}

{% block content %}
    <h1 class="text-light my-3">Detail Exercise</h1>
    <div class="text-light">
        <p><span class="text-primary">ID:</span> {{ exercise.id }}</p>
        <p><span class="text-primary">Type:</span> {{ exercise.get_type_display }}</p>
        <p><span class="text-primary">Name:</span> {{ exercise.name }}</p>
        <p><span class="text-primary">Vest Weight:</span> {{ exercise.vest_weight }} kg</p>
    </div>
    <hr class="text-light">
    <div>
        <a class="btn btn-outline-success" href="{% url 'aida:cardio-set-create' pk=exercise.id %}">
            Create Cardio Set
        </a>
        <a class="btn btn-outline-success ms-2" href="{% url 'aida:weight-set-create' pk=exercise.id %}">
            Create Weight Set
        </a>
        <a class="btn btn-outline-secondary ms-2" href="{{ exercise.workout.get_absolute_url }}">
            Back to Workout
        </a>
    </div>

    {% include "aida/activity/workout/exercise/_sets.html" %}
{% endblock %}