{% extends "aida/base.html" %}

{% block content %}
    <h1 class="text-light my-3">Workout Detail</h1>
    <div class="">
        <div class="text-light">
            <p><span class="text-primary">ID:</span> {{ workout.id }}</p>
            <p><span class="text-primary">Type:</span> {{ workout.get_type_display }}</p>
            <p><span class="text-primary">Engaged at:</span> {{ workout.engaged_at }}</p>
        </div>
        <hr class="text-light">

        <div>
            <a class="btn btn-outline-success" href="{% url 'aida:exercise-create' pk=workout.id %}">Create Exercise</a>
            <a class="btn btn-outline-secondary ms-2" href="{% url 'aida:workout-list' %}">Back to Workouts</a>
        </div>

        {% if workout.exercise_set.all %}
            <h2 class="text-light my-2">Exercises</h2>
            {% include "aida/activity/workout/_exercises.html" %}
        {% else %}
            <p class="text-light">No exercises found.</p>
        {% endif %}
    </div>
{% endblock %}