{% extends "base.html" %}

{% block content %}
    <h1>List Workouts</h1>
    {% if workouts %}
        <table class="table table-dark table-striped">
            {#<caption>List of workouts</caption>#}
            <thead>
            <tr>
                <th>Type</th>
                <th>Engaged at</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for workout in workouts %}
                <tr>
                    <td>{{ workout.get_type_display }}</td>
                    <td>{{ workout.engaged_at }}</td>
                    <td>
                        <a class="btn btn-outline-info"
                           href="{{ workout.get_absolute_url }}">
                            <i class="bi bi-eye"></i></a>
                        <a class="btn btn-outline-warning"
                           href="{{ workout.get_update_url }}">
                            <i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-outline-danger"
                           href="{{ workout.get_delete_url }}">
                            <i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No Workout data available.</h2>
    {% endif %}
{% endblock %}