{% extends "aida/base.html" %}

{% block content %}
    <div class="text-light">
        <h2>Import data from JSON</h2>
        <p class="text-danger">Warning! This will delete data that is already stored.</p>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="category">Select a Category</label>
            <select class="form-select" aria-label="select the type of metric to import"
                    id="category"
                    name="category">
                <option value="0" selected>Sleep</option>
                <option value="1">Workout</option>
            </select>
            <label for="extension">Select File extension</label>
            <select class="form-select" aria-label="select the file extension to import from"
                    id="extension"
                    name="extension">
                <option value="0" selected>CSV</option>
                <option value="1">JSON</option>
            </select>
            <input type="file" name="data_file">
            <button class="btn btn-outline-primary" type="submit">Import</button>
        </form>
    </div>
{% endblock %}