<!-- SIDEBAR -->
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <h5 class="col-md-3 col-lg-2 me-0 px-3 text-uppercase">
            <a class="text-reset text-decoration-none app-title" href="{% url 'aida:index' %}">Aida</a>
        </h5>
        <hr class="text-muted">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Activity metrics</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <div class="d-flex justify-content-between align-items-center">
                    <a class="nav-link sidebar-link"
                       href="{% url 'aida:workout-list' %}">
                        Workouts
                    </a>
                    <a class="px-3 fs-5 create-link"
                       href="{% url 'aida:workout-create' %}"
                       aria-label="Add Workout data"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Add Workout data">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </div>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Health metrics</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <div class="d-flex justify-content-between align-items-center">
                    <a class="nav-link sidebar-link" href="{% url 'aida:heart-list' %}">
                        Heart
                    </a>
                    <a class="px-3 fs-5 create-link" href="{% url 'aida:heart-create' %}"
                       aria-label="Add Heart metrics data"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Add Heart metrics data">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="d-flex justify-content-between align-items-center">
                    <a class="nav-link sidebar-link" href="{% url 'aida:sleep-list' %}">
                        Sleep
                    </a>
                    <a class="px-3 fs-5 create-link" href="{% url 'aida:sleep-create' %}"
                       aria-label="Add Sleep data"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="Add Sleep data">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>