{% extends "aida/base.html" %}

{% block content %}
    <h1 class="h2 text-light my-3">Delete {{ type|title }} data</h1>
    <!-- object will use __str__() if defined -->
    <p class="text-light">Are you sure you want to delete the {{ type }} data: <strong>{{ object }}</strong>?</p>
    <form action="" method="POST">
        {% csrf_token %}
        <button class="btn btn-outline-danger" type="submit">Yes, delete.</button>
        <a class="btn btn-secondary ms-2" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
    </form>
{% endblock %}
