{% extends "aida/base.html" %}

{% block content %}
    <h1 class="h2 text-light my-3">{{ action }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="text-light">
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.help_text }}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <button class="btn btn-outline-success my-3" type="submit">{{ action }}</button>
        <a class="btn btn-secondary ms-2" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
    </form>
{% endblock %}
